@font-face {
  font-family: "Neue Montreal";
  src: url(../fonts/NeueMontreal-Regular.otf);
}
@font-face {
  font-family: "Porlane";
  src: url(../fonts/Porlane.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Neue Montreal", sans-serif;
}

.container {
  width: 92%;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  background-color: #ffffff;
}

.navbar-toggler {
  border: transparent;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(../img/menu.svg);
  height: 20px;
  width: 20px;
}

.nav-link {
  font-size: 14px;
  color: #181818;
}

.nav-link:hover {
  color: #181818;
}

.navbar-nav {
  text-align: center;
}

.card-container {
  padding: 1rem;
}

.card {
  border-radius: 24px;
  padding: 2rem;
  border-color: transparent;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.home {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}

h1 {
  font-family: "Porlane", sans-serif;
  font-size: 7rem;
  color: #181818;
  line-height: 5.5rem;
}

.home-info p {
  margin-top: 35px;
}

.home-image {
  background-image: url(../img/image-main-1.jpg);
  background-position: center;
  background-size: auto;
}

.home-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.home-link {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 48px;
  border-radius: 30px;
  background-color: #ba2323;
  color: #ffffff;
}
.home-link a {
  text-decoration: none;
  color: #ffffff;
}

.home-link:hover {
  background-color: #181818;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.links {
  width: 70%;
  margin: auto;
}

.social {
  background-color: transparent;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ba2323;
}
.social a {
  color: #ba2323;
}

.social:hover {
  color: #ba2323;
}

.img-main {
  background-image: url(../img/image-main-2.png);
  background-position: center;
  background-size: cover;
  min-height: 300px;
  height: 100%;
}

.skills {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.skills h2 {
  text-align: center;
}

h2 {
  font-family: "Porlane";
  font-size: 6rem;
  color: #ba2323;
  margin-bottom: 3rem;
  line-height: 5rem;
}

.habilities {
  text-align: center;
}
.habilities p {
  font-weight: 500;
  font-size: 20px;
  color: #181818;
  cursor: pointer;
}
.habilities p:hover {
  color: #ba2323;
  transform: translateX(20px);
  transition: all 0.5s 0s ease;
}
.habilities span {
  color: #b4b4b4;
  font-size: 12px;
  margin-right: 1rem;
}

.about {
  padding: 4rem 0;
  background-color: #ffffff;
  text-align: center;
}

.portfolio {
  padding: 5rem 0;
  background-color: #ba2323;
}

#portfolio .card-container a {
  text-decoration: none;
  color: #181818;
}

.works {
  text-align: center;
  margin-bottom: 2rem;
}
.works h2 {
  margin-bottom: 1rem;
  color: #ffffff;
}
.works p {
  color: #ffffff;
}
.works .card-container a {
  text-decoration: none;
  color: #181818;
}

.card-project {
  height: 20rem;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-project .flecha {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  width: 45px;
  height: 45px;
  border-radius: 120px;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 22px;
  right: 25px;
}
.card-project .flecha i {
  font-size: 0.9rem;
}

.card-project:hover .flecha {
  top: 14px;
  right: 17px;
  transition: all 0.5s 0s ease;
}

.p1 {
  background-image: url(../img/project-1.jpg);
}

.p2 {
  background-image: url(../img/project-2.jpg);
}

.p3 {
  background-image: url(../img/project-3.jpg);
}

.p4 {
  background-image: url(../img/project-4.jpg);
}

.title-project {
  width: 85%;
}
.title-project h3 {
  font-size: 20px;
  font-weight: 600;
  color: #181818;
}
.title-project p {
  font-size: 16px;
  color: #ba2323;
  line-height: 18px;
}

#project {
  display: none;
  background-color: rgba(0, 0, 0, 0.2901960784);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

.modal {
  height: 90%;
  width: 95%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2.5rem;
}
.modal h2 {
  margin-bottom: 0;
}
.modal a {
  position: absolute;
  top: 14px;
  right: 20px;
}

.contact {
  height: 100vh;
  padding: 5rem 0;
  background-color: #181818;
}
.contact h2 {
  color: #ba2323;
  margin: 0;
  line-height: 5rem;
  margin-bottom: 2rem;
}

.contact-card {
  background-color: #ffffff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-card a {
  text-decoration: none;
  color: #181818;
  font-size: 1.2rem;
}
.contact-card a:hover {
  color: #646464;
}

.contact-top {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .home-contact {
    flex-direction: row;
    text-align: left;
  }
  .social {
    display: flex;
    flex-direction: row;
  }
  .links {
    width: auto;
    margin: 0;
  }
  .skills {
    padding-top: 3rem;
  }
  .skills h2 {
    text-align: left;
  }
  .habilities {
    text-align: left;
  }
  .works {
    width: 60%;
    margin: auto;
    margin-bottom: 5rem;
  }
  .contact-card h2 {
    font-size: 8rem;
    line-height: 6.5rem;
  }
  .contact-top {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */