@font-face {
  font-family: "Neue Montreal";
  src: url(../fonts/NeueMontreal-Regular.otf);
}

@font-face {
  font-family: "Porlane";
  src: url(../fonts/Porlane.otf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Neue Montreal", sans-serif;
}

.container {
  width: 92%;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  background-color: #ffffff;
}

.navbar-toggler {
  border: transparent;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(../img/menu.svg);
  height: 20px;
  width: 20px;
}

.nav-link {
  font-size: 14px;
  color: #181818;
}

.nav-link:hover {
  color: #181818;
}

.navbar-nav {
  text-align: center;
}

.card-container {
  padding: 1rem;
}

.card {
  border-radius: 24px;
  padding: 2rem;
  border-color: transparent;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.home {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}

h1 {
  font-family: "Porlane", sans-serif;
  font-size: 7rem;
  color: #181818;
  line-height: 5.5rem;
}

.home-info p {
  margin-top: 35px;
}

.home-image {
  background-image: url(../img/image-main-1.jpg);
  background-position: center;
  background-size: auto;
}

.home-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.home-link {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 48px;
  border-radius: 30px;
  background-color: #ba2323;
  color: #ffffff;
}

.home-link a {
  text-decoration: none;
  color: #ffffff;
}

.home-link:hover {
  background-color: #181818;
  color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.links {
  width: 70%;
  margin: auto;
}

.social {
  background-color: transparent;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ba2323;
}

.social a {
  color: #ba2323;
}

.social:hover {
  color: #ba2323;
}

.img-main {
  background-image: url(../img/image-main-2.png);
  background-position: center;
  background-size: cover;
  min-height: 300px;
  height: 100%;
}

.skills {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}

.skills h2 {
  text-align: center;
}

h2 {
  font-family: "Porlane";
  font-size: 6rem;
  color: #ba2323;
  margin-bottom: 3rem;
  line-height: 5rem;
}

.habilities {
  text-align: center;
}

.habilities p {
  font-weight: 500;
  font-size: 20px;
  color: #181818;
  cursor: pointer;
}

.habilities p:hover {
  color: #ba2323;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.habilities span {
  color: #b4b4b4;
  font-size: 12px;
  margin-right: 1rem;
}

.about {
  padding: 4rem 0;
  background-color: #ffffff;
  text-align: center;
}

.portfolio {
  padding: 5rem 0;
  background-color: #ba2323;
}

#portfolio .card-container a {
  text-decoration: none;
  color: #181818;
}

.works {
  text-align: center;
  margin-bottom: 2rem;
}

.works h2 {
  margin-bottom: 1rem;
  color: #ffffff;
}

.works p {
  color: #ffffff;
}

.works .card-container a {
  text-decoration: none;
  color: #181818;
}

.card-project {
  height: 20rem;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-project .flecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem;
  width: 45px;
  height: 45px;
  border-radius: 120px;
  background-color: #ffff;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 22px;
  right: 25px;
}

.card-project .flecha i {
  font-size: 0.9rem;
}

.card-project:hover .flecha {
  top: 14px;
  right: 17px;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.p1 {
  background-image: url(../img/project-1.jpg);
}

.p2 {
  background-image: url(../img/project-2.jpg);
}

.p3 {
  background-image: url(../img/project-3.jpg);
}

.p4 {
  background-image: url(../img/project-4.jpg);
}

.title-project {
  width: 85%;
}

.title-project h3 {
  font-size: 20px;
  font-weight: 600;
  color: #181818;
}

.title-project p {
  font-size: 16px;
  color: #ba2323;
  line-height: 18px;
}

.contacto {
  height: 100vh;
  padding: 5rem 0;
  background-color: #181818;
}

.contacto h2 {
  color: #ba2323;
  margin: 0;
  line-height: 5rem;
  margin-bottom: 2rem;
}

.contact-card {
  background-color: #ffffff;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-card a {
  text-decoration: none;
  color: #181818;
  font-size: 1.2rem;
}

.contact-card a:hover {
  color: #646464;
}

.contact-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  margin-top: 3rem;
}

.project img {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.data-project {
  position: relative;
}

.data-project h2 {
  margin: 0;
}

.data-project a {
  text-decoration: none;
}

.links-project {
  position: unset;
}

.links-project a {
  color: #ba2323;
  padding: 7px 24px;
  border-radius: 30px;
  border: #ba2323 1px solid;
  font-size: 14px;
}

.links-project a:hover {
  background-color: #ba2323;
  color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.back {
  text-align: right;
}

.back a {
  text-decoration: none;
  color: #ba2323;
}

.back a:hover {
  color: #ba2323;
}

.tools {
  color: #646464;
}

@media (min-width: 768px) {
  .home-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .links {
    width: auto;
    margin: 0;
  }
  .skills {
    padding-top: 3rem;
  }
  .skills h2 {
    text-align: left;
  }
  .habilities {
    text-align: left;
  }
  .works {
    width: 60%;
    margin: auto;
    margin-bottom: 5rem;
  }
  .contact-card h2 {
    font-size: 8rem;
    line-height: 6.5rem;
  }
  .contact-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */